<% breadcrumb :users %>
<div class="container">
  <h2>Users</h2>

  <table class="table table-responsive table-hover table-bordered w-100 d-block d-md-table">
    <colgroup>
      <col class="col-md-5">
      <col class="col-md-5">
      <col class="col-md-2">
    </colgroup>
    <thead>
    <tr>
      <th>Username</th>
      <th>Email</th>
      <th>Role</th>
    </tr>
    </thead>

    <tbody>
    <% @users.sort_by {|u| u.display_name.downcase}.each do |user| %>
      <tr>
        <td><%= link_to user.username, user_path(user) %></td>
        <td><%= link_to user.email, user_path(user) %></td>
        <td><%= link_to user.role, user_path(user) %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>